<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuarios</title>
    <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/scrip.js"></script>
</head>
<body>
<div class="header">
    <div class="top">
        <svg class="logo" width="172px" height="55px" viewBox="0 0 172 55" fill="#fff">
            <text x="5px" y="35px">Registrate en KeVeo</text>

        </svg>
        <div class="right-wrapper">
            <div class="app-name-wrapper">
                <svg class="app-icon" width="17px" height="17px" viewBox="0 0 18 18" fill="#fff">
                    <path d="M9,18c5,0,9-4,9-9s-4-9-9-9S0,4,0,9S4,18,9,18z M14.8,9.8c-0.1,0.1-0.3,0.2-0.5,0.2s-0.4-0.1-0.5-0.2l-0.2-0.2v3.7h-3V9.5h-3v3.8h-3V9.6L4.3,9.8c-0.3,0.3-0.8,0.3-1.1,0s-0.3-0.8,0-1.1L9,3l5.8,5.8C15.1,9.1,15.1,9.5,14.8,9.8z"/>
                </svg>
                <span class="app-name">Home</span>
            </div>
            <div class="profile-pic">
                <div class="picture"></div>
                <div class="profile-name">
                    Esteban Torres
                </div>
            </div>

            <svg class="app-menu" width="16px" height="16px" viewBox="0 0 26.75 26.75" fill="#fff">
                <circle cx="3.25" cy="3.25" r="3.25"/>
                <circle cx="13.38" cy="3.25" r="3.25"/>
                <circle cx="23.5" cy="3.25" r="3.25"/>
                <circle cx="3.25" cy="13.38" r="3.25"/>
                <circle cx="13.38" cy="13.38" r="3.25"/>
                <circle cx="23.5" cy="13.38" r="3.25"/>
                <circle cx="3.25" cy="23.5" r="3.25"/>
                <circle cx="13.38" cy="23.5" r="3.25"/>
                <circle cx="23.5" cy="23.5" r="3.25"/>
            </svg>
        </div>
    </div>
    <div class="navbar">
        <div class="navbar-item-wrapper">
            <a class="navbar-item active" href="#">PRUEBA1</a>
            <a class="navbar-item" href="#">PRUEBA2</a>
        </div>
        <svg class="hamburger-menu" width="28px" height="15px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 15">
            <line x1="1.5" y1="1.5" x2="26.5" y2="1.5"/>
            <line x1="1.5" y1="7.5" x2="26.5" y2="7.5"/>
            <line x1="1.5" y1="13.5" x2="26.5" y2="13.5"/>
        </svg>
        <div class="search-wrapper">
            <input class="search-input" placeholder="SEARCH" type="text"/>
            <svg width="13px" height="13px" class="search-icon" viewBox="0 0 13 13">
                 
                <path fill="#999999"
                      d="M12,13a1,1,0,0,1-.7-.3L8.62,10A5.5,5.5,0,1,1,10,8.62l2.68,2.68A1,1,0,0,1,12,13ZM5.5,2A3.5,3.5,0,1,0,9,5.5,3.5,3.5,0,0,0,5.5,2Z"/>
            </svg>
        </div>
        <div class="sidebar">
            <svg class="close-sidebar hamburger-menu" width="27px" height="18px" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 26.98 18.38">
                <line class="cls-1" x1="26.23" y1="9.19" x2="0.75" y2="9.19"/>
                <line class="cls-1" x1="11.37" y1="0.75" x2="0.75" y2="9.19"/>
                <line class="cls-1" x1="11.37" y1="17.63" x2="0.75" y2="9.19"/>
            </svg>
        </div>
    </div>
</div>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if=${param.successful}>
                <div class="alert alert-info">Se ha registrado exitosamente en
                    la aplicación
                </div>
            </div>

            <h1>Regístrate</h1>
            <form th:action="@{/register}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="nombre">Nombre : </label> <input
                        id="nombre" type="text" class="form-control" th:field="*{userName}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="apellido">Apellido : </label> <input
                        id="apellido" class="form-control" th:field="*{userSurname}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="email">Email : </label> <input
                        id="email" type="email" class="form-control" th:field="*{userEmail}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="date">Fecha de Nacimiento : </label> <input
                        type="date" id="date" class="form-control" th:field="*{date}"
                        required autofocus="autofocus">
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">Password : </label> <input
                        type="password" id="password" class="form-control" th:field="*{password}"
                        required autofocus="autofocus">
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-success">Registrar</button>
                    <span>Si estas registrado <a th:href="@{/login}">inicia sesión aqui</a></span>
                </div>
            </form>

        </div>
    </div>
</div>

<script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>